# VCS / IDE
.git
.gitignore
.qodo
.vscode
.idea

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Env
.env
.env.*

# OS noise
.DS_Store
Thumbs.db

# Misc
*.log
*.md
!README.md
.pytest_cache
